* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  max-width: 1400px;
  margin: 0 auto;
}

.back-button {
  margin: 20px 0 25px 0;
  border: none;
  color: purple;
  background: transparent;
  cursor: pointer;
}

.venetian-img {
  margin-bottom: 25px;
}

.column {
  margin-left: 30px;
  flex-grow: 1;
}

.header-container {
  display: flex;
}

.hotel-info {
  color: #4d4d4d;
  display: flex;
  justify-content: space-between;
}

.hotel-info li {
    display: inline-block;
    list-style-type: none;
}

.hotel-name {
  font-weight: 100;
  text-transform: uppercase;
}

.hotel-price {
    color: #ff8c00;
    font-size: 70px;
}

.hotel-price-text {
    color: #4d4d4d;
}

.body-container {
  display: flex;
}
